In [1]:
import pandas as pd 
import numpy as np

In [4]:
from google.colab import files

uploaded = files.upload()

Saving eksikveriler.csv to eksikveriler.csv

In [5]:
hamVeri = pd.read_csv("eksikveriler.csv")

In [6]:
hamVeri

   ulke    boy  kilo   yas cinsiyet
0    tr  130.0    30  10.0        e
1    tr  125.0    36  11.0        e
2    tr  135.0    34  10.0        k
3    tr  133.0    30   9.0        k
4    tr    NaN    38  12.0        e
5    tr  180.0    90  30.0        e
6    tr  190.0    80  25.0        e
7    tr  175.0    90  35.0        e
8    tr  177.0    60  22.0        k
9    us  185.0   105  33.0        e
10   us  165.0    55  27.0        k
11   us  155.0    50  44.0        k
12   us  160.0    58   NaN        k
13   us  162.0    59  41.0        k
14   us  167.0    62  55.0        k
15   fr  174.0    70  47.0        e
16   fr  193.0    90   NaN        e
17   fr  187.0    80  27.0        e
18   fr  183.0    88  28.0        e
19   fr  159.0    40  29.0        k
20  NaN  164.0    66  32.0        k
21   fr  166.0    56  42.0        k

In [7]:
hamVeri.fillna({"yas": hamVeri["yas"].mean()}, inplace=True)

In [8]:
hamVeri

   ulke    boy  kilo    yas cinsiyet
0    tr  130.0    30  10.00        e
1    tr  125.0    36  11.00        e
2    tr  135.0    34  10.00        k
3    tr  133.0    30   9.00        k
4    tr    NaN    38  12.00        e
5    tr  180.0    90  30.00        e
6    tr  190.0    80  25.00        e
7    tr  175.0    90  35.00        e
8    tr  177.0    60  22.00        k
9    us  185.0   105  33.00        e
10   us  165.0    55  27.00        k
11   us  155.0    50  44.00        k
12   us  160.0    58  28.45        k
13   us  162.0    59  41.00        k
14   us  167.0    62  55.00        k
15   fr  174.0    70  47.00        e
16   fr  193.0    90  28.45        e
17   fr  187.0    80  27.00        e
18   fr  183.0    88  28.00        e
19   fr  159.0    40  29.00        k
20  NaN  164.0    66  32.00        k
21   fr  166.0    56  42.00        k

In [9]:
hamVeri.dropna(inplace=True)

In [10]:
hamVeri

   ulke    boy  kilo    yas cinsiyet
0    tr  130.0    30  10.00        e
1    tr  125.0    36  11.00        e
2    tr  135.0    34  10.00        k
3    tr  133.0    30   9.00        k
5    tr  180.0    90  30.00        e
6    tr  190.0    80  25.00        e
7    tr  175.0    90  35.00        e
8    tr  177.0    60  22.00        k
9    us  185.0   105  33.00        e
10   us  165.0    55  27.00        k
11   us  155.0    50  44.00        k
12   us  160.0    58  28.45        k
13   us  162.0    59  41.00        k
14   us  167.0    62  55.00        k
15   fr  174.0    70  47.00        e
16   fr  193.0    90  28.45        e
17   fr  187.0    80  27.00        e
18   fr  183.0    88  28.00        e
19   fr  159.0    40  29.00        k
21   fr  166.0    56  42.00        k

In [11]:
from sklearn.preprocessing import OneHotEncoder

In [12]:
ohe = OneHotEncoder()

In [15]:
ulke_encoded = pd.get_dummies(hamVeri["ulke"])

In [16]:
ulke_encoded

    fr  tr  us
0    0   1   0
1    0   1   0
2    0   1   0
3    0   1   0
5    0   1   0
6    0   1   0
7    0   1   0
8    0   1   0
9    0   0   1
10   0   0   1
11   0   0   1
12   0   0   1
13   0   0   1
14   0   0   1
15   1   0   0
16   1   0   0
17   1   0   0
18   1   0   0
19   1   0   0
21   1   0   0

In [17]:
del hamVeri["ulke"]

In [18]:
hamVeri

      boy  kilo    yas cinsiyet
0   130.0    30  10.00        e
1   125.0    36  11.00        e
2   135.0    34  10.00        k
3   133.0    30   9.00        k
5   180.0    90  30.00        e
6   190.0    80  25.00        e
7   175.0    90  35.00        e
8   177.0    60  22.00        k
9   185.0   105  33.00        e
10  165.0    55  27.00        k
11  155.0    50  44.00        k
12  160.0    58  28.45        k
13  162.0    59  41.00        k
14  167.0    62  55.00        k
15  174.0    70  47.00        e
16  193.0    90  28.45        e
17  187.0    80  27.00        e
18  183.0    88  28.00        e
19  159.0    40  29.00        k
21  166.0    56  42.00        k

In [19]:
veri = pd.concat([ulke_encoded, hamVeri], axis = 1)

In [20]:
veri

    fr  tr  us    boy  kilo    yas cinsiyet
0    0   1   0  130.0    30  10.00        e
1    0   1   0  125.0    36  11.00        e
2    0   1   0  135.0    34  10.00        k
3    0   1   0  133.0    30   9.00        k
5    0   1   0  180.0    90  30.00        e
6    0   1   0  190.0    80  25.00        e
7    0   1   0  175.0    90  35.00        e
8    0   1   0  177.0    60  22.00        k
9    0   0   1  185.0   105  33.00        e
10   0   0   1  165.0    55  27.00        k
11   0   0   1  155.0    50  44.00        k
12   0   0   1  160.0    58  28.45        k
13   0   0   1  162.0    59  41.00        k
14   0   0   1  167.0    62  55.00        k
15   1   0   0  174.0    70  47.00        e
16   1   0   0  193.0    90  28.45        e
17   1   0   0  187.0    80  27.00        e
18   1   0   0  183.0    88  28.00        e
19   1   0   0  159.0    40  29.00        k
21   1   0   0  166.0    56  42.00        k

In [21]:
veri.to_csv("veri.csv", index=False)

In [22]:
veri = pd.read_csv("veri.csv")

In [23]:
veri

    fr  tr  us    boy  kilo    yas cinsiyet
0    0   1   0  130.0    30  10.00        e
1    0   1   0  125.0    36  11.00        e
2    0   1   0  135.0    34  10.00        k
3    0   1   0  133.0    30   9.00        k
4    0   1   0  180.0    90  30.00        e
5    0   1   0  190.0    80  25.00        e
6    0   1   0  175.0    90  35.00        e
7    0   1   0  177.0    60  22.00        k
8    0   0   1  185.0   105  33.00        e
9    0   0   1  165.0    55  27.00        k
10   0   0   1  155.0    50  44.00        k
11   0   0   1  160.0    58  28.45        k
12   0   0   1  162.0    59  41.00        k
13   0   0   1  167.0    62  55.00        k
14   1   0   0  174.0    70  47.00        e
15   1   0   0  193.0    90  28.45        e
16   1   0   0  187.0    80  27.00        e
17   1   0   0  183.0    88  28.00        e
18   1   0   0  159.0    40  29.00        k
19   1   0   0  166.0    56  42.00        k

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X = veri.drop(["cinsiyet"], axis=1)

In [29]:
y = veri["cinsiyet"]

In [32]:
X_train , X_test , y_train , y_test = train_test_split(X , y, test_size=0.33 , random_state=0)

In [37]:
from sklearn.preprocessing import StandardScaler

In [38]:
scaler = StandardScaler()

In [39]:
X_train = scaler.fit_transform(X_train)

In [43]:
X_test = scaler.fit_transform(X_test)